dist
node_modules
.dockerignore
Dockerfile
.env
.env.*
.eslintrc.js
.eslintrc-staged.js
eslint.config.cjs
eslint.config-staged.cjs
tsconfig.eslint.json
.git
.gitignore
.husky
.npmignore
.prettierrc
coverage*
README.md
AGENTS.md
*.spec.ts
*.mock.ts
__mock__
__test__
/uploads
/docker
*.sqlite
