coverage
dist
node_modules
uploads
*.sqlite
.dockerignore
.env
.env.*
.eslintcache
.git
.gitignore
.prettierrc
Dockerfile
docker
eslint.config.cjs
eslint.config-staged.cjs
jest.config.js
tsconfig.eslint.json
*.mock.ts
*.spec.ts
__mock__
__test__
